<!DOCTYPE html>
<html>
<head>
  <title>User Table</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    i.fa-check {
      color: green;
      cursor: pointer;
    }
    i.fa-times {
      color: red;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <h1>User Table</h1>
{{!--   <button onclick="addUser()">Add User</button> --}}
  <table>
    <tr>
      <th>Username</th>
      <th>Verified</th>
      {{!-- <th>Delete</th> --}}
    </tr>
    </tr>
  {{#each results}}
  <tr>
    <td>{{Email}}</td>
    <td><a href="#"><i class="fa fa-check"></i></a></td>
   {{!--  <td>
      <form method="DELETE" action="/users/{{Email}}">
        <button type="submit"><i class="fa fa-times"></i></button>
      </form>
    </td> --}}
  </tr>
  {{/each}}
  </table>

</body>
</html>
