<html>
  <head>
    <style>
      body {
        font-family: Arial, sans-serif;
      }
      h1 {
        text-align: center;
      }
      .button {
        display: block;
        width: 150px;
        padding: 10px;
        margin: 10px auto;
        border: none;
        background-color: #4CAF50;
        color: white;
        font-size: 16px;
        cursor: pointer;
      }
      .button:hover {
        background-color: #3e8e41;
      }
    </style>
  </head>
  <body>
    <h1>User and Recipe management</h1>
    <a href="/admin/reci" class="button">Recipe Management</a>
    <a href="/admin/users" class="button">User Management</a>
{{!--       <script src="/routes/admin.js"></script> --}}

  </body>
</html>
