
<head>

    <!-- Template Stylesheet -->
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body >
    <div class="main" style="background-color: #142d34;">

        <!-- Sign up form -->
        <section class="signup" id="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <a href="/"><i  class="fas fa-home"></i></a> 
                        <form method="POST" class="register-form" id="form">
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="name" id="name" placeholder="User Name"  required minlength="3" maxlength="100"/>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Your Email" required/>
                            </div>
                            <div class="form-group">
                                <label for="password1"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="pass" id="password1" placeholder="Create Password (Min. 8 characters)" 
                                required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$"
                                title="Please include at least 1 uppercase character, 1 lowercase character, and 1 number."/>
                            </div>
                            <div class="form-group">
                                <label for="password2"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="re_pass" id="password2" placeholder="Repeat your password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$" name="password"/>
                            </div>
                            <div class="form-group form-button">
                                <a href="logindex.hbs"><input type="submit" name="signup" id="signup" class="form-submit" value="Register" /></a> 
                            </div>
                        </form>
                        <div class="message-container">
                            <h6 id="message"></h6>
                          </div>
                    </div>
                    <div class="signup-image">
                        <figure><img src="images/signup-image.jpg" alt="sing up image" height="320px" width="400px"></figure>
                        <a href="#sign-in" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Sing in  Form -->
        <section class="sign-in" id="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="images/signin-image.jpg" alt="sing up image" height="320px" width="400px"></figure>
                        <a href="#signup" class="signup-image-link">Create an account</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Sign in</h2>
                        <a href="/"><i  class="fas fa-home"></i></a> 
                        <form method="POST" class="register-form" id="login-form">
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="your_name" id="your_name" placeholder="User Name"/>
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="your_pass" id="your_pass" placeholder="Password"/>
                            </div>
                            
                            <div class="form-group form-button">
                                 <a href="/logindex"><input type="button" name="sign-in" id="signin"  class="form-submit"  value="Log in" /> </a>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </section>

    </div>
    <script src="/javascripts/main.js"></script>
</body>

</html>