

    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-primary navbar-dark shadow-sm py-3 py-lg-0 px-3 px-lg-5">
        <a href="logindex.hbs" class="navbar-brand d-flex d-lg-none">
            <h1 class="m-0 display-4 text-secondary"><span class="text-white">Endure</span>Recipe</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav mx-auto py-0">
                <a href="/logindex" class="nav-item nav-link active">Home</a>
                <a href="/logrecipe" class="nav-item nav-link ">Recipes</a>
                <a href="/logabout" class="nav-item nav-link">About</a>
                <a href="/logcontact" class="nav-item nav-link">Contact</a>
            </div>
            <div class="login">
                <a style="border-radius: 5%;border-color:  rgb(255, 204, 127);"class="btn btn-primary" href="/" role="button">Logout</a>
            </div>
           
        </div>
    </nav>
    <!-- Navbar End -->

    <!-- Carousel Start -->
    <div class="container-fluid p-0">
        <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="images/carousel-1.jpg" alt="Image">
                    <div class="carousel-caption top-0 bottom-0 start-0 end-0 d-flex flex-column align-items-center justify-content-center">
                        <div class="text-start p-5" style="max-width: 900px;">
                            <h3 class="text-white">Endure Recipe</h3>
                            <h1 class="display-1 text-white mb-md-4">People who love to cook are always best</h1>

                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="images/carousel-2.jpg" alt="Image">
                    <div class="carousel-caption top-0 bottom-0 start-0 end-0 d-flex flex-column align-items-center justify-content-center">
                        <div class="text-start p-5" style="max-width: 900px;">
                            <h3 class="text-white">Endure Recipe</h3>
                            <h1 class="display-1 text-white mb-md-4">Laughter is brightest where food is best</h1>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- Carousel End -->
   
    <!-- Products Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="mx-auto text-center mb-5" style="max-width: 500px;">
                <h6 class="text-primary text-uppercase">Recipes</h6>
                <h1 class="display-5">Check out our recipes</h1>
                <div  class="serch">
                    <form  class="form-inline">
                            <input  class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"><br>
                            <button class="btn btn-outline-secondary" type="button">Search</button>
                      </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Products End -->


     <script src="javascripts/home.js"></script>
