


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-primary navbar-dark shadow-sm py-3 py-lg-0 px-3 px-lg-5">
        <a href="index.hbs" class="navbar-brand d-flex d-lg-none">
            <h1 class="m-0 display-4 text-secondary"><span class="text-white">Endure</span>Recipe</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav mx-auto py-0">
                     <a href="/" id="home" class="nav-item nav-link ">Home</a>
                <a href="/recipe" id="recipe" class="nav-item nav-link active">Recipes</a>
                <a href="/about" id="about" class="nav-item nav-link ">About</a>
                <a href="/contact" id="contact" class="nav-item nav-link">Contact</a>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->


    <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 bg-hero mb-5">
        <div class="container py-5">
            <div class="row justify-content-start">
                <div class="col-lg-8 text-center text-lg-start">
                    <h1 class="display-1 text-white mb-md-4">Our Recipes</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- Products Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="mx-auto text-center mb-5" style="max-width: 500px;">
                <h6 class="text-primary text-uppercase">Recipes</h6>
                <h1 class="display-5">Checkout Our New Recipes</h1>
                <div  class="serch">
                    <form  class="form-inline">
                        <input  class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"><br>
                        <button class="btn btn-outline-secondary" type="button">Search</button>
                      </form>
                </div>
            </div>
         
            <div class="owl-carousel product-carousel px-5">
                      {{#each product }}
                <div class="pb-5">
                    <div class="product-item position-relative bg-white d-flex flex-column text-center">
                        <img class="img-fluid mb-4" src={{this.images}} alt="">
                        <h6 class="mb-3">{{this.name}}</h6>
                        <button class="btn btn-outline-secondary" type="button">View</button>
                    </div>
                </div>
                  {{/each}}
            </div>
        </div>
    </div>
    <!-- Products End -->   
   <script src="javascripts/home.js"></script>
